<% layout('/layouts/boilerplate') %>
<body><br><br>
  <h3 class="offset-2">Edit Listing</h3>
  <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
    <div class="row">
      <div class="col-8 offset-2 form">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input id="title" class="form-control" type="text" name="listing[title]" value="<%= listing.title %>" required/>
          <div class="invalid-feedback">Please enter valid title</div>
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea id="description" class="form-control" type="text" name="listing[description]" required><%=listing.description %></textarea>
          <div class="invalid-feedback">Please enter a short description</div>
        </div>

        <div class="mb-3 edit-img">
          <div>
            Original Image <br>
            <img src="<%= originalImageUrl %>" width="250px" height="200px">
          </div>
          <div >
            <label for="image" class="form-label">Upload new image</label>
            <input id="image" class="form-control" type="file" name="listing[image]" />
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4 mb-3">
            <label for="price" class="form-label">Price</label>
            <input id="price" class="form-control" type="number" name="listing[price]" value="<%= listing.price %>" required/>
            <div class="invalid-feedback">Please enter valid price</div>
          </div>
          <div class="col-lg-8 mb-3">
            <label for="country" class="form-label">Country</label>
            <input id="country" class="form-control" type="text" name="listing[country]" value="<%= listing.country %>" required />
            <div class="invalid-feedback">Please enter valid country name</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input id="location" class="form-control" type="text" name="listing[location]" value="<%= listing.location %>" required />
          <div class="invalid-feedback">Please enter valid location</div>
        </div>
        <div class="btns">
          <a class="btn btn-dark" href="/listings/<%= listing._id %>">Back</a> &nbsp;&nbsp;&nbsp;&nbsp;
          <button class="btn btn-dark add-btn " type="submit">Save edit</button>
        </div>
      </div>
    </div>
  </form><br>
</body>
